<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watermelon.mapper.EvaluationMapper">
    <resultMap id="teacherResultMap" type="com.watermelon.entity.Teacher">
        <id column="teacher_id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="teacherResultMap2" type="Teacher">
        <id column="teacher_id" property="id"/>
        <result column="teacher_name" property="name"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <resultMap id="courseResultMap" type="Course">
        <!-- 解决mybatis去重-->
        <id column="rowNo" property="rowNo"/>
        <result column="course_id" property="id"/>
        <result column="name" property="name"/>
        <result column="number" property="number"/>
        <result column="course_type" property="courseType"/>
        <result column="course_class" property="courseClass"/>
        <result column="course_dep" property="courseDep"/>
        <result column="score" property="score"/>
        <result column="time" property="time"/>
        <association property="teacher" javaType="Teacher">
            <id column="teacher_id" property="id"/>
            <result column="teacher_name" property="name"/>
        </association>
    </resultMap>

<!--获取可评价的教师列表-->
    <select id="getCoursesByTeacherId" resultMap="courseResultMap" parameterType="int">
        select distinct cc.course_id,c.number,c.name,c.course_type,c.course_class,
            (select name from department where department_id = c.department_id) course_dep,
            c.score,c.time,cc.teacher_id,t.name as teacher_name
        from (class_course cc
        left join teacher t on t.teacher_id=cc.teacher_id)
        left join course c on cc.course_id=c.course_id
        where c.course_id in
           (select course_id from class_course cc where teacher_id=#{id})
        and cc.teacher_id!=#{id}
        order by c.number
    </select>

    <select id="getCoursesByStuId" resultMap="courseResultMap" parameterType="int">
        select c.course_id,c.number,c.name,c.course_type,c.course_class,
           (select name from department where department_id = c.department_id) course_dep,
           c.score,c.time,t.teacher_id,t.name as teacher_name
        from teacher t,course c,class_course cc
        where cc.teacher_id=t.teacher_id
         and cc.course_id=c.course_id
         and cc.class_id=
             (select class_id from student where student_id=3)
    </select>

    <select id="getCoursesBySuperId" resultMap="courseResultMap" parameterType="int">
        select c.course_id,c.number,c.name,c.course_type,c.course_class,
            (select name from department where department_id = c.department_id) course_dep,
            c.score,c.time,t.teacher_id,t.name as teacher_name
        from (supervisor_course s
        left join course c on s.course_id=c.course_id)
        left join teacher t on t.teacher_id=s.teacher_id
        order by course_dep,c.number
    </select>

<!--    获取个人评价-->
    <select id="getSuperIndiEvaluation" resultType="IndividualEvaluation">
        select * from individual_evaluation
        where role_id=4 and from_id=#{param1} and teacher_id=#{param2} and course_id=#{param3}
    </select>

    <select id="getStudentIndiEvaluation" resultType="IndividualEvaluation">
        select * from individual_evaluation
        where role_id=3 and from_id=#{param1} and teacher_id=#{param2} and course_id=#{param3}
    </select>

    <select id="getTeacherIndiEvaluation" resultType="IndividualEvaluation">
        select * from individual_evaluation
        where role_id=2 and from_id=#{param1} and teacher_id=#{param2} and course_id=#{param3}
    </select>

<!--  插入个人评价 -->
    <insert id="addSuperIndiEvaluation" parameterType="IndividualEvaluation">
        insert into individual_evaluation(role_id,from_id,teacher_id,course_id,score_1,score_2,score_3,score_4,score_5,score_6,total_score,advice)
        values(4,#{fromId},#{teacherId},#{courseId},#{score1},#{score2},#{score3},#{score4},#{score5},#{score6},#{totalScore},#{advice})
    </insert>

    <insert id="addStudentIndiEvaluation" parameterType="IndividualEvaluation">
        insert into individual_evaluation(role_id,from_id,teacher_id,course_id,score_1,score_2,score_3,score_4,score_5,score_6,total_score,advice)
        values(3,#{fromId},#{teacherId},#{courseId},#{score1},#{score2},#{score3},#{score4},#{score5},#{score6},#{totalScore},#{advice})
    </insert>

    <insert id="addTeacherIndiEvaluation" parameterType="IndividualEvaluation">
        insert into individual_evaluation(role_id,from_id,teacher_id,course_id,score_1,score_2,score_3,score_4,score_5,score_6,total_score,advice)
        values(2,#{fromId},#{teacherId},#{courseId},#{score1},#{score2},#{score3},#{score4},#{score5},#{score6},#{totalScore},#{advice})
    </insert>

</mapper>